/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html, body {
    overflow-x: hidden;
}
body{
    background-color: #f0efed;
    
}
#typing::after {
  content: "_";
  animation: blink 1.5s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}


p{
    font-family: "Montserrat" , sans-serif;
    font-weight: 200;
}
h2{
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    font-weight:900;
    
}

@media (max-width:768px) {
    h2{
        font-size: 1.5em;
    }
    
}
h3{
    font-family: "Montserrat" , sans-serif; 
}
/* Header / Navigation */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0b0b0d;
    height: 80px;
    width: calc(100% - 48px );
    z-index: 1000;
    background:linear-gradient(135deg , #2c2c2c ,#4c4c4c , #f8f8f8 0%);
    position: fixed;
    border-radius: 0 0 24px 24px;
    margin: 0 24px;
}
@media (max-width:768px) {
    header{
        display: block;
        height: fit-content;
        padding: 1rem;
    }   
}

@media (min-width:768px) {
    header .hero_name{
        display: none;
    }
    
}
nav{
    flex: 1;
    z-index: 1000;
    padding: 0 2rem;
}
.nav-list {
    display:flex;
    justify-content:end;
    align-items: center;
    list-style: none;
    gap: 2rem;
}
@media (max-width:768px) {
    .nav-list{
        display: none;
    }
}
.nav-links:last-child a{
    background-color:#0b0b0d ;
    color: #f8f8f8;
}
.nav-links a {
    text-decoration: none;
    color: #0b0b0d;
    font-size: 1.1em;
    font-family: "Montserrat" , sans-serif;
    text-transform: capitalize;
    font-family: "Montserrat" ;
    font-weight: 300;
    transition:background-color 0.3s ease-in,border 0.3s ease-in;
    padding: 0.8rem 1.5rem;
    border-radius: 9999px;
}

.nav-links a:hover{
    border: solid 2px #0b0b0d;
}

a{
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
}

/* Home Section */

.home{
    background:linear-gradient(135deg , #2c2c2c ,#4c4c4c , #f8f8f8 0%);
    padding:5rem 3rem 3vh 3rem ;
    margin: 0 24px;
    border-radius: 24px;
}

@media (max-width:768px) {
    .home{
         padding:  5rem 0 2rem 0 ;
    }
}
.home-container {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    color: #0b0b0d;
    gap: 2rem;
}

@media (max-width:768px) {
    .home-container{
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: fit-content;
        height: fit-content;
        align-items: center;
    }
    
}

.avatar {
    width: 45%;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1; 
}

@media (max-width:768px) {
    .avatar{
        width: 60%;
    }
}

.avatar img {
    max-width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 1;
    object-fit: cover;
    filter: brightness(1.1);
}

.home-content {
    display:flex ;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
}
@media (max-width:1194px) {
    .home-content{
        gap: .5rem;
    }
}
@media (max-width:768px) {
    .home-content{
     align-items: center;
     gap: .5rem;
    }
}

.home-content h1 , .hero_name{
    display: block;
    text-transform: capitalize;
    font-style: normal;
    color: #f48a19;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    font-weight: 900;
}
@media (max-width:1194px) {
     header .hero_name{
        font-size: 2em;
        align-self: center;
    }
    .home-content h1{
        font-size: 2em;
     }
}

@media (max-width:768px) {
    .home-container h1{
      display: none;
    }
}
.home-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width:50%;
}
@media (max-width:768px) {
    .home-content{
        width: 100%;
        padding: 0 2rem;
    }
}
.home-content h2 {
      font-size: 2em;
      font-family: "Courrier" ,monospace;
      text-transform: capitalize;
}

@media (max-width:1194px) {
    .home-content h2{
        font-size: 1.5em;
    }
    
}
@media (max-width:768px) {
    .home-content h2{
        font-size: 1.2em;
    }
}
.home-content p {
    font-size: 1.2em;
    line-height: 2em;
    text-align: justify;
}
@media (max-width:1194px) {
    .home-content p{
        font-size: 1em;
        line-height: 1.5em;
    }
}
.home-content .btn {
    margin: 2rem 0;
    padding: 1.5rem .5rem;
    border-radius: 9999px;
    text-decoration: none;
    text-align: center;
    border: solid 2px #0b0b0d;
    color:#0b0b0d ;
    display:inline;
    width: 40%;

}
@media (max-width:1194px) {
    .home-content .btn{
        margin:.5rem 0 ;
        width: 50%;
        padding: 1rem .4rem;
    }
}
@media (max-width:768px) {
    .home-content .btn{
        margin: 2rem 0;
        width: 60%;
    }
    
}
/* Profiles */
.profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 1.5rem;
}
@media (max-width:768px) {
    .profiles{
        padding: 1rem .5rem;
    }
    
}
.profiles h2 {
   margin-bottom: 2rem;
}
@media (max-width:768px) {
    .profiles h2{
        margin-bottom: 1rem;
    }
}

.profiles-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
@media (max-width:768px) {
    .profiles-container{
        justify-content: space-around;
    }
}
.profiles-card {
    width: 10rem;

}
@media (max-width:768px) {
    .profiles-card {
        width: 2rem;
    }
}
.profiles-card a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #595B5C;
}

.profiles-card a img {
    width: 3rem;
}
@media (max-width:1024px) {
    .profiles-card a img{
        width:2rem;
    }
    
}

.profiles-card p {
    margin-top: 1rem;
    font-size: 10px;
    font-weight: 300;
}
@media (max-width:768px) {
    .profiles-card p{
        display: none;
    }
    
}

/* About */
.about {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1.5rem ;
   min-height: 60vh;
   gap: 2rem;
   background-color: #f8f8f8;
   margin: 24px;
   border-radius: 24px;
}

.about-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}
@media (max-width:1024px) {
    .about-container{
        flex-direction: column;
    }
    
}
.about-container h2{
    display: block;
}
.about-image {
    width: 40%;
    background-color: #f48a19;
    border-radius:72% 28% 35% 65% / 53% 64% 36% 47% ;
    overflow: hidden;
    display: flex;
    aspect-ratio: 1;  
}
@media (max-width:1024px) {
    .about-image{
        width: 50%;
    }  
}
.about-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
@media (max-width:1024px) {
    .about-content{
        width: 90%;
    }
}
.about-content p {
    flex: 1;
    line-height: 1.5;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

/* Experience */
.experience {
    display: 100vw;
    margin-bottom: 24px;
}

.experience-container {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}
@media (max-width:768px) {
    .experience-container{
        flex-direction: column;
        align-items: center;
    }
}
.experience-card {
    border-radius: 20px;
    width: 20%;
    border: solid #f8f8f8 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color:#f8f8f8;
}
@media (max-width:768px) {
    .experience-card{
        width: 90%;
    }
}

.experience-card p {
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0b0b0d;
    font-size: 1em;
    gap: 1rem;
}

.experience-card span {
    text-transform: uppercase;
}
.experience-card .number{
    font-size: 2em;
}

/* Skills */
.skills {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 1.5rem;
    background-color: #f8f8f8;
    color: #0b0b0d;
    margin: 0 24px 24px 24px;
    border-radius: 24px;
}
@media (max-width: 1140px) and (min-width: 769px) {
    .skills{
        padding: 4rem 1rem;
    }
}
.skills h2 {
    margin-bottom: 2rem;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
@media (max-width: 1140px) and (min-width: 769px) {
    .skills-container{
        justify-content: space-between;
    }
}
@media (max-width:768px) {
    .skills-container{
        flex-direction: column;
        align-items: center;
    }
}

.skills-card {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width:768px) {
    .skills-card{
        width: 90%;
    }
    
}

.skills-card h3 {
    text-align: center;
}

.skills-card p {
    margin-top: 1rem;
    text-align: justify;
}
@media (max-width: 1140px) and (min-width: 769px) {
    .skills-card p{
        font-size: .8em;
    }
}
.skills-card ul {
    display: flex;
    justify-content:flex-start;
    margin-top: 1rem;
    gap: 0.5rem;
    font-family: 'Montserrat',sans-serif;
}

.skills-card ul li {
    list-style: none;
    background-color:#5d5d5d;
    color: #f8f8f8;
    padding: 0.4rem .6rem;
    border-radius: 9999px;
    box-shadow:#4c4c4c 2px;
}
@media (max-width: 1140px) {
    .skills-card ul li {
        font-size: .7em;
    }
}
/* Projects */
.projects {
    padding: 24px;
    margin-bottom: 80px;
}
@media (max-width:768px) {
    .projects{
        padding: .8rem;
    }
    
}

.projects h2 {
    padding: 2rem;
    text-align: center;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap:24px;
}
@media (max-width:768px) {

    
}
.project-card {
    flex: 0 0 calc(33.33% - 48px);
    box-sizing: border-box;
    background-color: #faf9fa;
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    border: solid #f8f8f8 2px;
}
@media (max-width:1024px) {
    .project-card{
        flex: 0 0 calc(50% - 48px);
    }
}
@media (max-width:768px) {
    .project-card{
        flex: 0 0 100%;
    }
}

.project-preview-image-container {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 16px;
    border: solid #f8f8f8 2px;
}

.project-preview-image-container img{
    width: 100%;
}


.project-card .project-title {
    margin-top:.5rem ;
    text-align: center;
}

.project-card .project-description {
    overflow: hidden;
    padding: 1rem;  
    text-align: justify;
}

.project-card a {
    margin: 1rem;
    display:flex;
    align-items:center ;
    justify-content: center;
    text-decoration: none;
    padding: 1rem 1.2rem;
    border-radius: 9999px;
    color:#f8f8f8;
    text-align: center;
    background-color:#0b0b0d ;

}

/* Contact */
.contact {
    background-color: #f8f8f8;
    margin: 24px;
    border-radius: 24px;
    padding: 24px 0;
}

.contact-container {
    width: 50%;
    display: block;
    padding: 4rem;
    margin: auto;
}
@media (max-width:768px) {
    .contact-container{
        width: 100%;
        padding: .5rem;
        display:flex ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
 
}
@media (max-width:1200px) {
    .contact-container{
        width: 70%;

    }
}
.contact-container h2 {
    color: #0b0b0d;
    margin-bottom: 1.5rem;
    text-align: center;
}

.contact-container p {
    color: #0b0b0d;
    padding: .5rem ;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 20px;
}

.contact-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.contact-container input,
.contact-container textarea {
    padding:  2rem 1rem ;
    font-size: 20px;
    background-color:#f8f8f8;
    border: 2px solid #0b0b0d;
    border-radius: 10px;
    color: #0b0b0d;
    font-family: "Montserrat",sans-serif;
}

.contact-container input:focus,
.contact-container textarea:focus {
 
 outline: none;
}

.contact-container button {
    display: inline-block;
    text-decoration: none;
    padding: 2rem 0;
    border-radius: 9999px;
    color:#f8f8f8 ;
    text-align: center;
    border: none;
    margin-top: 1.5rem;
    font-size: 20px;
    background-color: #0b0b0d;
}



